[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaybg -m fill -i "%h/Pictures/main-wallpaper.jpg"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
